build/
output/
results/

# Ignore editor configuration files
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore Doxygen output folder
/docs/

gmon.out